.descr {
   font-size: 1.4rem;
   font-weight: 300;
   &_fz13 {
      font-size: 1.3rem;
   }
   &_fz16 {
      font-size: 1.6rem;
   }
   &_fz19 {
      font-size: 1.9rem;
   }
   &_fz21 {
      font-size: 2.1rem;
   }
   &_fz24 {
      font-size: 2.4rem;
   }
}
